.foodtrucks p {
  font-size: 16px;
  color: #edeef0;
}

.foodtrucks-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 100px;
  margin-bottom: 0;
}

.foodtrucks img {
  height: 350px;
}
