/*row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}*/
* {
  font-family: "satoshi";
}

html {
  background-color: #16181a;
}

* a {
  text-decoration: none;
}

header {
  background-image: url(../img/header-background.webp);
  max-height: 900px;
  margin-top: 0;
  background-size: cover;
  width: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}
